.app {
	width: 100%;
	height: 100%;
	padding: 24px;
	display: flex;
	flex-direction: column;
}

.app__header {
	display: flex;
	height: min-content;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
}

.header__logo {
	width: 100px;
	height: 100px;
}

.header__logo img {
	width: 100%;
	height: 100%;
}

.app__main {
	flex: 1 1 auto;
	display: flex;
	gap: 16px;
}

.main__left-column {
	flex: 1 1 auto;
	display: flex;
}

.main__right-column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
